# Default values for openstudio-server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


# Set to google or aws
provider: 
  name: ""

cluster:
  name: "openstudio-server" 

nfs-server-provisioner:
  persistence:
    enabled: true
    storageClass: "ssd"
    size: 200Gi
  storageClass:
    allowVolumeExpansion: false
    mountOptions:
      - vers=4 
db:
  name:  "db"
  label: "db"
  container:
    name: "mongo-db"
    image: "mongo:3.4.10"
    ports:
      db_port: 27017
  persistence:
    enabled: true
    storageClass: "ssd"
    size: 200Gi
    accessModes:
      - "ReadWriteOnce"

load_balancer:
  name: "ingress-load-balancer"
  externalTrafficPolicy: "Local"
  selector:
    label: "web"
  ports:
    http_name: "http" 
    http_port: 80
    http_protocol: "TCP"
    https_name: "https"
    https_port: 443
    https_protocol: "TCP"

nfs:
  name: "nfs"

nfs_pvc: 
  name: "nfs-pvc"
  accessModes: 
    - "ReadWriteMany"  
  storage_class: "" 
  storage: "1Mi"


redis:
  name: "redis"
  container:
    name: "redis"
    image: "redis:4.0.6"
    cpu: 0.5
    memory: "1G"
    port: 6379

redis_svc:
  name: "queue"
  selector:
   app: "redis"
  port: 6379


rserve:
  name: "rserve"
  label: "rserve" 
  container:
    name: "rserve"
    image: "nrel/openstudio-rserve:3.1.0-rc2"
    cpu: 1
    memory: 2Gi
    
rserve_svc:
  name: "rserve"
  label: "rserve"
  port: 6311

web_background: 
  name: "web-background"
  label: "web-background" 
  container:
    name: "web-background" 
    image: "nrel/openstudio-server:3.1.0-rc2" 
    cpu: 1
    memory: "3Gi"

web:
  name: "web"
  label: "web"
  container:
    name: "web"
    image: "nrel/openstudio-server:3.1.0-rc2"
    cpu: 1
    memory: "1Gi"
    port:
     http: 80
     https: 443

web_svc: 
  name: "web" 
  label: "web" 
  selector:
    label: "web"
  ports:
    http: 80 
    https: 443

      
worker:
  name: "worker" 
  label: "worker" 
  container:
    name: "worker"
    image: "nrel/openstudio-server:3.1.0-rc2"
    cpu: 1
    memory: "3Gi"
    terminationGracePeriodSeconds: 3600
      
worker_hpa: 
  name: "worker"
  minReplicas: 1
  maxReplicas: 20
  targetCPUUtilizationPercentage: 50




 
