# Default values for openstudio-server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


# Set to google, aws or azure
provider: 
  name: ""

cluster:
  name: "openstudio-server" 

nfs-server-provisioner:
  persistence:
    enabled: true
    storageClass: "ssd"
    size: 200Gi
  storageClass:
    allowVolumeExpansion: false
    mountOptions:
      - vers=4 
      - sync
db:
  name:  "db"
  label: "db"
  username: "openstudio"
  password: "openstudio"
  container:
    name: "mongo-db"
    image: "mongo:4.4.2"
    cpu: 2
    memory: "8Gi"
    ports:
      db_port: 27017
  persistence:
    enabled: true
    storageClass: "ssd"
    size: 200Gi
    accessModes:
      - "ReadWriteOnce"

load_balancer:
  name: "ingress-load-balancer"
  externalTrafficPolicy: "Local"
  label: "web"
  ports:
    http_name: "http" 
    http_port: 80
    http_protocol: "TCP"
    https_name: "https"
    https_port: 443
    https_protocol: "TCP"

nfs:
  name: "nfs"

nfs_pvc: 
  name: "nfs-pvc"
  accessModes: 
    - "ReadWriteMany"  
  storage_class: "" 
  storage: "1Mi"


redis:
  name: "redis"
  label: "redis"
  password: "openstudio"
  container:
    name: "redis"
    image: "redis:6.0.9"
    cpu: 0.5
    memory: "1G"
    port: 6379
  persistence:
    enabled: true
    storageClass: "ssd"
    size: 5Gi
    accessModes:
      - "ReadWriteOnce"

redis_svc:
  name: "queue"
  label: "redis"
  port: 6379
  url: "redis://:openstudio@queue:6379"

rserve:
  name: "rserve"
  label: "rserve" 
  container:
    name: "rserve"
    image: "nrel/openstudio-rserve:3.2.1"
    cpu: 1
    memory: 2Gi
    
rserve_svc:
  name: "rserve"
  label: "rserve"
  port: 6311

web_background: 
  name: "web-background"
  label: "web-background" 
  replicas: 1
  container:
    name: "web-background" 
    image: "nrel/openstudio-server:3.2.1" 
    cpu: 0.5
    memory: "1Gi"

web:
  name: "web"
  label: "web"
  secret_key_value: "c4ab6d293e4bf52ee92e8dda6e16dc9b5448d0c5f7908ee40c66736d515f3c29142d905b283d73e5e9cef6b13cd8e38be6fd3b5e25d00f35b259923a86c7c473"
  container:
    name: "web"
    image: "nrel/openstudio-server:3.2.1"
    cpu: 2
    memory: "6Gi"
    port:
     http: 80
     https: 443

# For this to work and have more than 1 web pod we'll need to implement 
# a distrbuted file locking scheme such a https://github.com/antirez/redlock-rbs 
# as even with using NFS via sync it cannot guarantee file locking using mutliple clients
web_hpa:
  name: "web"
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 50

web_svc: 
  name: "web" 
  label: "web" 
  ports:
    http: 80 
    https: 443

worker:
  name: "worker" 
  label: "worker" 
  container:
    name: "worker"
    image: "nrel/openstudio-server:3.2.1"
    cpu: 1
    memory: "3Gi"
    terminationGracePeriodSeconds: 3600
      
worker_hpa: 
  name: "worker"
  minReplicas: 2
  maxReplicas: 20
  targetCPUUtilizationPercentage: 50




 
